@font-face {
  font-family: darkmode;
  src: url(/darkmode.ttf) format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-family-base: darkmode, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  // brand colors
  --c-brand: #3aa675;
  --c-brand-light: #349469;

  // background colors
  --c-bg: #22272e;
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;
  --code-inline-bg-color: #262c34;

  // text colors
  --c-text: #adbac7;
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;

  // border colors
  --c-border: #3e4c5a;
  --c-border-dark: #34404c;

  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;

  color-scheme: dark;
  font-feature-settings: 'liga' 0;
  font-variation-settings: 'DRKM' 1;
}

.home {
  @apply flex flex-col min-h-screen;

  &-hero {
    @apply flex-1 flex flex-col justify-center;

    img.image {
      @apply w-[28rem];
    }
  }
}

.action a.item:hover {
  @apply border-[color:var(--c-brand-light)];
}

.content h1 {
  @apply -ml-0.5 pb-2;
}

@media (min-width: 720px) {
  .page .container {
    @apply px-10;
  }
}

.snippet-tab {
  @apply -mb-2 text-xs font-semibold border-b border-transparent;

  &.active {
    @apply border-[color:var(--c-brand)];
  }
}

.custom-block {
  &.details {
    @apply rounded-md my-4 bg-[color:var(--c-details-bg)];
  }

  &.warning {
    @apply rounded-md border-[color:var(--c-warning)] text-inherit bg-[color:var(--c-bg-light)];

    .custom-block-title {
      @apply text-[color:var(--c-warning-title)];
    }
  }
}

.page-footer {
  .link,
  .last-updated {
    @apply text-sm;
  }

  .datetime {
    @apply text-[13px];
  }
}

dl {
  @apply grid grid-cols-[auto_1fr] mt-4;

  dt {
    @apply p-2 pl-0;
  }

  dt:not(:first-of-type),
  dd:not(:first-of-type) {
    @apply border-t border-[color:var(--c-divider-dark)];

    p {
      @apply hidden;
    }
  }

  p {
    @apply pl-6 py-2 m-0 leading-[1.4];
  }

  code {
    @apply whitespace-nowrap bg-transparent p-0 text-sm leading-[var(--code-line-height)];
  }

  div[class*='language-'] {
    @apply m-0 before:hidden bg-transparent;

    pre {
      @apply py-2 text-sm;
    }
  }
}

h2 {
  @apply mt-6;
}

ul,
ol {
  @apply list-disc;
}
