@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300 700;
    src: url('/fonts/quicksand-latin-variable-wghtOnly-normal.woff2') format('woff2');
  }

  html,
  body {
    @apply font-sans;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: monospace;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}
